In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [52]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
203,tt2980706,50000000,151165787,Planes: Fire & Rescue,Dane Cook|Ed Harris|Julie Bowen|Curtis Armstro...,Roberts Gannaway,"When others fly out, heroes fly in.",When world-famous air racer Dusty learns that ...,83,Animation|Comedy|Adventure|Family,Walt Disney Pictures|DisneyToon Studios|Prana ...,7/17/2014,5.9,2014
1100,tt0316396,100000000,121975011,Peter Pan,Jeremy Sumpter|Jason Isaacs|Rachel Hurd-Wood|R...,P.J. Hogan,All children grow up except one.,"In stifling Edwardian London, Wendy Darling me...",113,Adventure|Fantasy|Family,Columbia Pictures|Universal Pictures|Revolutio...,12/25/2003,6.7,2003
638,tt0822832,60000000,244082376,Marley & Me,Owen Wilson|Jennifer Aniston|Eric Dane|Kathlee...,David Frankel,Heel the love,"A newly married couple who, in the process of ...",115,Comedy|Family,Sunswept Entertainment|Dune Entertainment III,12/25/2008,6.8,2008
483,tt1456941,27000000,16504936,"Tomorrow, When the War Began",Caitlin Stasey|Rachel Hurd-Wood|Phoebe Tonkin|...,Stuart Beattie,Where were you when everything changed?,"Ellie Linton, a teen from an Australian coasta...",103,Action|Adventure|Drama,Omnilab Media|Ambience Entertainment,8/8/2010,6.5,2010
1578,tt0349903,110000000,362744280,Ocean's Twelve,George Clooney|Brad Pitt|Catherine Zeta-Jones|...,Steven Soderbergh,Twelve is the new eleven.,Danny Ocean reunites with his old flame and th...,125,Thriller|Crime,Village Roadshow Pictures|Section Eight|Jerry ...,12/9/2004,6.4,2004

In [53]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [54]:
answers = {} # создадим словарь для ответов

"""На вход подается набор данных и столбец из него
   возращается массив подстрок с частотой встречаемости
"""
def counter(bd, x):
    data_plot = bd[x].str.cat(sep='|') # формируем единую строку с разделителем
    dat = pd.Series(data_plot.split('|')) # разбиваем в массив подстрок
    info = dat.value_counts(ascending = False) # подстрока + количество повторений
    return info

"""Удаляются квадратные скобки из поля"""
def change_comp(t):
    t = str(t).replace('[', '')
    t = str(t).replace(']', '')
    return t

# расчет прибыли
data['profit'] = data['revenue'] - data['budget']
# месяц, выделенный из даты релиза
data['month'] = [release_date.split('/')[0] for release_date in data.release_date]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [55]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [56]:
# фильтр по максимальному бюджету
data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [57]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [58]:
# фильтр по максимальной длительности
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [59]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# фильтр по минимальной длительности
data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [60]:
answers['4'] = 110

# средняя длительность
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [61]:
answers['5'] = 107

# медиана по длительности
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [62]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

# фильтр по максимальной прибыли
data[data['profit'] == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [63]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# фильтр по минимальной прибыли
data[data['profit'] == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [64]:
answers['8'] = 1478

# фильтр по сборам > бюджета. подсчет количества фильмов
data[data['revenue'] > data['budget']].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [65]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# фильтр по сборам 2008 года. подсчет максимального значения
data[data['revenue'] == data.query('release_year==2008').revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [66]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# фильтр по по прибыли 2012-2014 годов года. подсчет минимального значения
data[data['profit'] == data.query('release_year>=2012 & release_year<=2014').profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [67]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

# подсчет количества встечаемости по жанрам
sum_gen = counter(data, 'genres')
display(sum_gen)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [68]:
# разбиваем на подстроки, записывам в стек. подсчитываем количество повторений в стеке
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [69]:
answers['12'] = '1. Drama'

""" устанавливаем фильтр по прибыли > 0
    разбиваем на подстроки, записывам в стек. подсчитываем количество повторений в стеке
"""
pd.DataFrame(data[data['profit']>0].genres.str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [70]:
answers['13'] = '5. Peter Jackson'

# группировка по режиссеру, сумма сборов
data.groupby('director')['revenue'].sum().sort_values(ascending = False)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [71]:
answers['14'] = '3. Robert Rodriguez'

# фильтр по жанру. подсчет количесва встречаемости
sum_gen = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)], 'director')
display(sum_gen)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Xavier Gens           1
Dean DeBlois          1
Ron Underwood         1
Vicky Jenson          1
Robert Redford        1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [72]:
answers['15'] = '3. Chris Hemsworth'

# разобрали столбец cast в стек
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index','row2','cast']

# в стек добавили сборы и год из датасета
df_cast['revenue_cast'] = df_cast.row_index.apply(lambda x : data.iloc[x]['revenue'])
df_cast['year'] = df_cast.row_index.apply(lambda x : data.iloc[x]['release_year'])

# фильтр по году, группировка по актеру, подсчет суммарных сборов
df_cast.query('year == 2012').groupby('cast')['revenue_cast'].sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue_cast, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [73]:
answers['16'] = '3. Matt Damon'

# разобрали столбец cast в стек
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index','row2','cast']

# в стек добавили фильм и бюджет из датасета
df_cast['imdb_id_cast'] = df_cast.row_index.apply(lambda x : data.iloc[x]['imdb_id'])
df_cast['budget_cast'] = df_cast.row_index.apply(lambda x : data.iloc[x]['budget'])

# фильтр по бюджету выше среднего, группировка по актеру, подсчет количества фильмов
df_cast.query('budget_cast > budget_cast.mean()').groupby('cast')['imdb_id_cast'].count().sort_values(ascending = False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: imdb_id_cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [74]:
answers['17'] = '2. Action'

# фильтр по актеру
data2 = data[data.cast.map(lambda x: True if 'Nicolas Cage' in x else False)]

# подсчет количества жанров
sum_gen = counter(data2[data2['genres'].map(lambda x: True if 'Action' in x else False)], 'genres')
display(sum_gen)

Action             17
Thriller           11
Crime               5
Drama               5
Adventure           5
Fantasy             5
Science Fiction     4
Mystery             3
Horror              1
Comedy              1
History             1
Animation           1
War                 1
Family              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [76]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# фильтр по студии
data2 = data[data.production_companies.map(lambda x: True if 'Paramount Pictures' in x else False)]

# фильтр по минимальной прибыли
data2[data2['profit'] == data2.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [77]:
answers['19'] = '5. 2015'

# группировка по году, сумма по сборам
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [78]:
answers['20'] = '1. 2014'

data2 = data.copy()

# убираем квадратные скобки
data2['production_companies'] = data2.production_companies.apply(change_comp)

# фильтр по вхождению названия студии, группировка по году. подсчет суммарной прибыли
data2[data2['production_companies'].str.contains('Warner Bros.')].groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [79]:
answers['21'] = '4. Сентябрь'

# фильтр по месяцу, подсчет количества фильмов
data.groupby('month')['imdb_id'].count().sort_values(ascending = False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [80]:
answers['22'] = '2. 450'

# фильтр по месяцам. подсчет количества фильмов
data.loc[data['month'].isin(['6','7','8'])]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [81]:
answers['23'] = '5. Peter Jackson'

# фильтр по месяцам. подсчет количества фильмов
sum_gen = counter(data.loc[data['month'].isin(['1','2','12'])], 'director')
display(sum_gen)

Peter Jackson                7
Clint Eastwood               6
Steven Soderbergh            6
Shawn Levy                   4
Adam Shankman                4
                            ..
Gary Winick                  1
Stuart Beattie               1
Christian E. Christiansen    1
Mikael HÃ¥fstrÃ¶m            1
Diane Keaton                 1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [82]:
answers['24'] = '5. Four By Two Productions'

data2 = data.copy()
# удаляем квадратые скобки
data2['production_companies'] = data2.production_companies.apply(change_comp)

# добавляем длину строки
data2['title_length'] = data2.original_title.map(lambda x: len(x))

# подсчет количества вхождений по студии
sum_gen=counter(data2,'production_companies')

# цикл по студиям. нахождение максимальной длины названия фильма
for gen in sum_gen.index:
    sum_gen[gen] = data2['title_length'][data2['production_companies'].map(lambda x: True if gen in x else False)].max()

# сортировка в порядке убывания
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
display(sum_gen)

                                         0
Four By Two Productions                 83
Twentieth Century Fox                   83
Twentieth Century Fox Film Corporation  83
Walt Disney                             62
Disney                                  62
...                                     ..
Berlanti Productions                     3
Everest Entertainment                    3
Ixtlan Productions                       2
XM2 Productions                          2
Global Entertainment Group               2

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [83]:
answers['25'] = '3. Midnight Picture Show'

data2 = data.copy()
# удаляем квадратые скобки
data2['production_companies'] = data2.production_companies.apply(change_comp)

# добавляем количество слов в названии фильма
data2['overview_words_length'] = data2.overview.map(lambda x: len(x.split(' ')))

# подсчет количества вхождений по студии
sum_gen=counter(data2,'production_companies')

# цикл по студиям. нахождение среднего количества слов в названии фильма
for gen in sum_gen.index:
    sum_gen[gen] = data2['overview_words_length'][data2['production_companies'].map(lambda x: True if gen in x else False)].mean()

# сортировка в порядке убывания
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
display(sum_gen)

                                         0
Midnight Picture Show                  175
Heineken Branded Entertainment         161
Room 9 Entertainment                   161
98 MPH Productions                     159
Brookwell-McNamara Entertainment       156
...                                    ...
Projection Pictures                     13
Henceforth                              13
London Boulevard                        13
Empire Pictures                         11
Motion Picture Corporation of America   11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [84]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# фильтр по рейтингу более 99%
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']][['original_title','vote_average']].sort_values('vote_average', ascending=False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [85]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# заполняем массив комбинаций актеров
actor_list = data.cast.str.split('|').tolist()
combo_list=[]

# разбиваем комбинации актеров на пары
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
        
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']

# подсчет количества знаечений
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Kristen Stewart Robert Pattinson    5
Robert Pattinson Taylor Lautner     5
Kristen Stewart Taylor Lautner      5
Adam Sandler Kevin James            5
Hugh Jackman Ian McKellen           5
Name: actor_combinations, dtype: int64

# Submission

In [86]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [87]:
# и убедиться что ни чего не пропустил)
len(answers)

27